{% extends "Admin/layout/base.html" %}

{% block title %}产品频段——开元通信后台{% endblock %}

{% block map %}
    <li class="breadcrumb-item active" aria-current="page">产品频段</li>
{% endblock %}

{% block content %}
    <div class="section-body ">

        <div class="row">
            <div class="col-lg-12">
                <div class="e-panel card">
                    <div class="card-header">
                        <div class="float-right">
                            <a href="{{ path_for('admin.channelCreatePage') }}" class="btn btn-lg btn-primary m-b-5 m-t-5"><i class="fa fa-edit"></i></a>
                        </div>
                        <h4>产品频段{% if show %} - {{ show.label }} 包含的子频段{% endif %}</h4>

                    </div>
                    <div class="card-body">

                        <div class="e-table">
                            <div class="table-responsive table-lg">
                                <table class="table table-bordered">
                                    <thead>
                                    <tr>
                                        <th class="text-center"></th>
                                        <th class=>频段名称</th>
                                        <th class=>注释标签</th>
                                        <th class=>频段所属产品类别</th>
                                        {% if show %}
                                        <th class=>父频段</th>
                                        {% else %}
                                        <th class="text-center">子分类</th>
                                        <th class="text-center">子分类数量</th>
                                        {% endif %}
                                        <th class="text-center">操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for key, item in channels %}
                                        <tr>

                                            <td class="align-middle text-center">
                                                {{ key+1 }}
                                            </td>
                                            <td class="text-nowrap align-middle">{{ item.name }}</td>
                                            <td class="text-nowrap align-middle">{{ item.label }}</td>
                                            <td class="text-nowrap align-middle"><a href="{{ path_for('admin.categoryTable') }}?father={{ item.category.fatherCategory.id }}">{{ item.category.fatherCategory.name }}</a> -> {{ item.category.name }}</td>


                                            {% if show %}
                                                <td class="text-nowrap align-middle">{{ item.fatherChannel.name }}</td>
                                            {% else %}
                                                <td class="text-center align-middle">  <a href="?father={{ item.id }}" class="btn btn-primary btn-sm  mt-2 ">查看子频段</a></td>
                                                <td class="text-center align-middle">{{ item.allChildrenChannels.count }}</td>
                                            {% endif %}
                                            <td class="text-center align-middle">
                                                <form action="{{ path_for('admin.channelDelete', {'id' : item.id}) }}" method="post">      <input type="hidden" name="_METHOD" value="DELETE"/>
                                                    <button type="submit" class="btn btn-danger btn-sm  mt-2 ">删除</button>
                                                </form>
                                            </td>

                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            {% if show %}
                                <div class="float-right">
                                    <a href="{{ path_for('admin.channelTable') }}" class="btn btn-sm btn-primary m-b-5 m-t-5">返回</a>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
