{% extends "Admin/layout/base.html" %}

{% block title %}产品面板——开元通信后台{% endblock %}

{% block map %}
    <li class="breadcrumb-item active" aria-current="page"><a href="{{ path_for('admin.productTable', {'id' : category.id}) }}">产品面板-{{ category.name }}</a></li>
    <li class="breadcrumb-item active" aria-current="page">修改产品</li>
{% endblock %}

{% block content %}
    <div class="row">
    <div class="col-lg-12 col-xl-4 col-md-12 col-sm-12">
        <div class="card">
            <div class="card-header">
                <h4>轮播图预览</h4>
            </div>
            <div class="card-body">
                <div class="text-center">
                    <div class="userprofile social">
                        <div> <img src="{{ base_url() }}/{{ product.image }}" alt="" class="card-img-top"> </div>
                        <h3 class="username">{{ product.name }}</h3>
                        <p>{{ product.intro }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12 col-xl-8 col-md-12 col-sm-12" >
        <div class="card">
            <div class="card-header">
                <h4>修改{{ category.name }}产品 ： {{ product.name }}</h4>
            </div>
            <div class="card-body">

                <form action="{{ path_for('admin.productEdit', {'id' : category.id}) }}" method="post" enctype="multipart/form-data">

                    <input type="hidden" name="_METHOD" value="PUT"/>
                    <input type="hidden" name="id" value="{{ product.id }}"/>

                    <div class="form-group">
                        <label for="exampleInputName">产品名称</label>
                        <input type="text" class="form-control" id="exampleInputName" name="name" placeholder="请输入产品产品名称" value="{{ product.name }} " >

                    </div>

                    {% if has_error('name') %} <div class="alert alert-warning" role="alert">{{ error('name') }}</div>{% endif %}

                    {{ select_item(category,product) | raw }}

                    <div class="form-group">
                        <label for="exampleInputIntro">缩略简介</label>
                        <textarea  class="form-control" rows="8" id = "exampleInputIntro" name="intro">{{ product.intro }}</textarea>

                    </div>
                    {% if has_error('intro') %} <div class="alert alert-warning" role="alert">{{ error('intro') }}</div>{% endif %}
                    <div class="form-group">
                        <label for="exampleInputPassword">详细内容</label>
                        <textarea id="elm1" name="content">{{ product.content |raw }}</textarea>

                    </div>
                    {% if has_error('content') %} <div class="alert alert-warning" role="alert">{{ error('content') }}</div>{% endif %}

                    <div class="form-group">
                        <div class="form-group files mb-lg-0">
                            <label for="exampleInputPassword">封面图片</label>
                            <input type="file" class="form-control1" name="image" multiple="">
                        </div>
                    </div>
                    {% if has_error('image') %} <div class="alert alert-warning" role="alert">{{ error('image') }}</div>{% endif %}

                    <button type="submit" class="btn btn-primary mt-1 mb-0">修改</button>
                </form>
            </div>
        </div>
    </div>    </div>

{% endblock %}

