<!DOCTYPE html>
<html lang="en">
	<head>

		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Kharna-Admin Dashboard</title>
		
		<!--Favicon -->
		<link rel="icon" href="{{ base_url() }}/favicon.ico" type="image/x-icon"/>

		<!--Bootstrap.min css-->
		<link rel="stylesheet" href="{{ base_url() }}/assets/plugins/bootstrap/css/bootstrap.min.css">
		
		<!--Icons css-->
		<link rel="stylesheet" href="{{ base_url() }}/assets/css/icons.css">

		<!--Style css-->
		<link rel="stylesheet" href="{{ base_url() }}/assets/css/style.css">

	</head>

	<body class="bg-primary">
		<div id="app">
			<section class="section">
                <div class="container mt-5">
					<div class="page-error">
						<div class="page-inner">
							<h1>404</h1>
							<div class="page-description">
								找不到了！
							</div>

						</div>
					</div>

				</div>
			</section>
		</div>

	</body>
</html>
