{# admin.layout.base #}
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {# title #}
    <title>{% block title %}{% endblock %}</title>

    {# Icon 模块 #}
    {% block icon %}
        <!--Favicon -->
        <link rel="icon" href="{{ base_url() }}/assets/img/favicon.ico" type="image/x-icon"/>
    {% endblock %}

    {# css 和 js 模块 #}
    {% block stylesheet %}
        <!--Bootstrap.min css-->
        <link rel="stylesheet" href="{{ base_url() }}/assets/plugins/bootstrap/css/bootstrap.min.css">

        <!--Icons css-->
        <link rel="stylesheet" href="{{ base_url() }}/assets/css/icons.css">

        <!--Style css-->
        <link rel="stylesheet" href="{{ base_url() }}/assets/css/style.css">

        <!--mCustomScrollbar css-->
        <link rel="stylesheet" href="{{ base_url() }}/assets/plugins/scroll-bar/jquery.mCustomScrollbar.css">

        <!--Sidemenu css-->
        <link rel="stylesheet" href="{{ base_url() }}/assets/plugins/toggle-menu/sidemenu.css">

        <!--Chartist css-->
        <link rel="stylesheet" href="{{ base_url() }}/assets/plugins/chartist/chartist.css">
        <link rel="stylesheet" href="{{ base_url() }}/assets/plugins/chartist/chartist-plugin-tooltip.css">

        <!--Full calendar css-->
        <link rel="stylesheet" href="{{ base_url() }}/assets/plugins/fullcalendar/stylesheet1.css">

        <!--morris css-->
        <link rel="stylesheet" href="{{ base_url() }}/assets/plugins/morris/morris.css">
    {% endblock %}


</head>

<body class="app ">

<div id="spinner"></div>

<div id="app">
    <div class="main-wrapper" >
        {# 上方导航模块 #}
        {% block nav %}
            {{ include('Admin/layout/nav.html') }}
        {% endblock %}

        {# 左侧导航模块 #}
        {% block aside %}
            {{ include('Admin/layout/aside.html') }}
        {% endblock %}



        <div class="app-content">
            <section class="section">
                {# 指南map模块 #}
                {# 上方提示模块 #}
                {% block flash %}
                    {{ include('Admin/layout/flash.html') }}
                {% endblock %}

                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><i class="side-menu__icon fa fa-tachometer"></i><a href="{{ path_for('admin.board') }}">控制面板</a></li>
                        {% block map %}
                        {% endblock %}
                    </ol>


                {# 内容模块 #}
                {% block content %}
                {% endblock %}

            </section>
        </div>

        {# 底部footer模块 #}
        {% block footer %}
            {{ include('Admin/layout/footer.html') }}
        {% endblock %}

    </div>
</div>

{# script 模块 #}
{% block script %}
    <!--Jquery.min js-->
    <script src="{{ base_url() }}/assets/js/jquery.min.js"></script>

    <!--popper js-->
    <script src="{{ base_url() }}/assets/js/popper.js"></script>

    <!--Tooltip js-->
    <script src="{{ base_url() }}/assets/js/tooltip.js"></script>

    <!--Bootstrap.min js-->
    <script src="{{ base_url() }}/assets/plugins/bootstrap/js/bootstrap.min.js"></script>

    <!--Jquery.nicescroll.min js-->
    <script src="{{ base_url() }}/assets/plugins/nicescroll/jquery.nicescroll.min.js"></script>

    <!--Scroll-up-bar.min js-->
    <script src="{{ base_url() }}/assets/plugins/scroll-up-bar/dist/scroll-up-bar.min.js"></script>

    <!--Sidemenu js-->
    <script src="{{ base_url() }}/assets/plugins/toggle-menu/sidemenu.js"></script>

    <!--mCustomScrollbar js-->
    <script src="{{ base_url() }}/assets/plugins/scroll-bar/jquery.mCustomScrollbar.concat.min.js"></script>

    <!--Chart.min js-->
    <script src="{{ base_url() }}/assets/js/chart.min.js"></script>
    <!-- ECharts -->
    <script src="{{ base_url() }}/assets/plugins/echarts/dist/echarts.js"></script>

    <!--Min Calendar -->
    <script src="{{ base_url() }}/assets/plugins/fullcalendar/calendar.min.js"></script>
    <script src="{{ base_url() }}/assets/plugins/fullcalendar/custom_calendar.js"></script>


    <!--Morris js-->
    <script src="{{ base_url() }}/assets/plugins/morris/morris.min.js"></script>
    <script src="{{ base_url() }}/assets/plugins/morris/raphael.min.js"></script>

    <!--Scripts js-->
    <script src="{{ base_url() }}/assets/js/scripts.js"></script>

    <!--Dashboard js-->
    <script src="{{ base_url() }}/assets/js/dashboard.js"></script>
    <script src="{{ base_url() }}/assets/js/apexcharts.js"></script>

    <!--ckeditor js-->
    <script src="{{ base_url() }}/assets/plugins/tinymce/tinymce.min.js"></script>

    <!--Scripts js-->
    <script src="{{ base_url() }}/assets/js/formeditor.js"></script>
    <!--OtherCharts js-->
    <script src="{{ base_url() }}/assets/js/othercharts.js"></script>
    <script src="{{ base_url() }}/assets/plugins/othercharts/jquery.knob.js"></script>
    <script src="{{ base_url() }}/assets/plugins/othercharts/jquery.sparkline.min.js"></script>

{% endblock %}

</body>
</html>
