{% for msg in flash('success') %}
    <div class="alert alert-primary" role="alert">
        <a href="#" class="close" data-dismiss="alert" aria-hidden="true">
            <i class="alert-icon fa fa-times" data-toggle="tooltip" title="" data-original-title="关闭"></i>
        </a>
        {{ msg }}
    </div>
{% endfor %}
{% for msg in flash('warning') %}
    <div class="alert alert-warning" role="alert">
        <a href="#" class="close" data-dismiss="alert" aria-hidden="true">
            <i class="alert-icon fa fa-times" data-toggle="tooltip" title="" data-original-title="关闭"></i>
        </a>
        {{ msg }}
    </div>
{% endfor %}
{% for msg in flash('error') %}
    <div class="alert alert-danger" role="alert">
        <a href="#" class="close" data-dismiss="alert" aria-hidden="true">
            <i class="alert-icon fa fa-times" data-toggle="tooltip" title="" data-original-title="关闭"></i>
        </a>
        {{ msg }}
    </div>
{% endfor %}
