{% extends "Admin/layout/base.html" %}

{% block title %}招聘信息——开元通信后台{% endblock %}

{% block map %}
    <li class="breadcrumb-item active" aria-current="page"><a href="{{ path_for('admin.jobTable') }}">招聘信息</a></li>
    <li class="breadcrumb-item active" aria-current="page">新增招聘信息</li>
{% endblock %}

{% block content %}
    <div class="row">
    </div>
    <div class="col-lg-12 col-xl-8 offset-xl-2 col-md-12 col-sm-12" >
        <div class="card">
            <div class="card-header">
                <h4>招聘信息编辑</h4>
            </div>
            <div class="card-body">

                <form action="{{ path_for('admin.jobStore') }}" method="post" >

                    <div class="form-group">
                        <label for="exampleInputTitle">职位名称</label>
                        <input type="text" class="form-control" id="exampleInputTitle" name="title" placeholder="请输入职位名称  例：软件工程师" value="{{ val('title') }}">

                    </div>
                    {% if has_error('title') %} <div class="alert alert-warning" role="alert">{{ error('title') }}</div>{% endif %}

                    <div class="form-group">
                        <label for="exampleInputOldJob">工作地址</label>
                        <input type="text" class="form-control" id="exampleInputOldJob" name="address" placeholder="请输入工作地址 例：北京市朝阳区北京大厦1206室" value="{{ val('address') }}">

                    </div>
                    {% if has_error('address') %} <div class="alert alert-warning" role="alert">{{ error('address') }}</div>{% endif %}

                    <div class="form-group">
                        <label for="exampleInputEd">学历要求</label>
                        <input type="text" class="form-control" id="exampleInputEd" name="education" placeholder="请输入学历要求" value="{{ val('education') }}">

                    </div>
                    {% if has_error('education') %} <div class="alert alert-warning" role="alert">{{ error('education') }}</div>{% endif %}

                    <div class="form-group">
                        <label for="exampleInputTitleMinWage">薪资范围</label>
                        <div class="row">
                            <div class="col-md-6 m-t-6 m-b-6">
                                <input type="text" class="form-control" id="exampleInputTitleMinWage" name="min_wage" placeholder="请输入最小薪资 单位为K" value="{{ val('min_wage') }}">
                            </div>
                            <div class="col-md-6 m-t-6 m-b-6">
                                <input type="text" class="form-control" id="exampleInputTitleMaxWage" name="max_wage" placeholder="请输入最小薪资 单位为K" value="{{ val('max_wage') }}">
                            </div>
                        </div>

                        {% if has_error('min_wage') %} <div class="alert alert-warning" role="alert">{{ error('min_wage') }}</div>{% endif %}
                        {% if has_error('max_wage') %} <div class="alert alert-warning" role="alert">{{ error('max_wage') }}</div>{% endif %}
                    </div>
                    <div class="form-group">
                        <label for="exampleInputTitleMinExperience">工作经验</label>
                        <div class="row">
                            <div class="col-md-6 m-t-6 m-b-6">
                                <input type="text" class="form-control" id="exampleInputTitleMinExperience" name="min_experience" placeholder="请输入最小工作年限 单位为年" value="{{ val('min_experience') }}">
                            </div>
                            <div class="col-md-6 m-t-6 m-b-6">
                                <input type="text" class="form-control" id="exampleInputTitleMaxExperience" name="max_experience" placeholder="请输入最大工作年限 单位为年" value="{{ val('max_experience') }}">
                            </div>
                        </div>

                        {% if has_error('min_experience') %} <div class="alert alert-warning" role="alert">{{ error('min_experience') }}</div>{% endif %}
                        {% if has_error('max_experience') %} <div class="alert alert-warning" role="alert">{{ error('max_experience') }}</div>{% endif %}
                    </div>
                    <div class="form-group">
                        <label for="exampleInputC">职位性质</label>
                        <select id="exampleInputC" class="form-control" name="work_category">
                            <option value="全职">全职</option>
                            <option value="兼职">兼职</option>
                        </select>
                    </div>


                    <div class="form-group">
                        <label for="exampleInputWi">岗位简介</label>
                        <textarea id="exampleInputWi" class="form-control" rows="6" name="work_intro">{{ val('work_intro') }}</textarea>
                    </div>
                    {% if has_error('work_intro') %} <div class="alert alert-warning" role="alert">{{ error('work_intro') }}</div>{% endif %}

                    <div class="form-group">
                        <label for="exampleInputJi">任职要求</label>
                        <textarea id="exampleInputJi" class="form-control" rows="6" name="job_intro">{{ val('job_intro') }}</textarea>
                    </div>
                    {% if has_error('job_intro') %} <div class="alert alert-warning" role="alert">{{ error('job_intro') }}</div>{% endif %}

                    <button type="submit" class="btn btn-primary mt-1 mb-0">发布</button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}

